<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app">

    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- <uses-feature android:name="android.hardware.type.watch" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity android:name=".ManagerHomeEdit"></activity>
        <activity android:name=".ManagerSearch" />
        <activity android:name=".StudentEnterID" />
        <activity android:name=".StudentUploadPhoto" />
        <activity android:name=".StudentEnterName" />
        <activity android:name=".ManagerSignUpStart" />
        <activity android:name=".StudentSignUpStart" />
        <activity android:name=".SignUpPage" /> <!-- <activity -->
        <!-- android:name=".activity_manager_home" -->
        <!-- android:label="@string/title_activity_manager_home"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- COMMENTED OUT BY MARKUS TO REMOVE ERRORS -->
        <!-- <activity -->
        <!-- android:name=".activity_manager_home" -->
        <!-- android:label="@string/title_activity_manager_home"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!--
 COMMENTED OUT BY MARKUS TO REMOVE ERRORS
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        -->
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <!--
 COMMENTED OUT BY MARKUS TO REMOVE ERRORS
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        -->
        <activity android:name=".AngadTest" />
        <activity android:name=".HassibTest" />
        <activity android:name=".MarkusTest" />
        <activity android:name=".JohnTest" />
        <activity android:name=".FirebaseTest" />
        <activity android:name=".S3Test" />
        <activity android:name=".CreateDummyAccount" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>